body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: auto;
    width: 300px;
}

ol li {
    list-style-type: upper-roman;
}

.title {
    color: rgb(133, 57, 54);
    background-color: rgb(207, 143, 83);
    font-family: 'Times New Roman', Times, serif  
}